
/* Fonts style */

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), 
      url('../fonts/ProximaNova-Regular.woff') format('woff'), 
      url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), 
      url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'ProximaNova Light';
	src: url('../fonts/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light.ttf') format('truetype'),
		url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* // End Fonts style */


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

ul{ 
    list-style: none;
}
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

.clear:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
a img{
    border:0;
}
a,input,select,textarea{
    outline:none;
}
input::-moz-focus-inner{
    border:0; padding: 0;
}

img{
    float: left;
}

/* Selection colours (easy to forget) */

img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
a{text-decoration: none; display: inline-block;}
/*a:hover{text-decoration: underline; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out;}*/


/*		Default Layout 
-------------------------------------------------------------------------------
*/

body {background: #111111; color:#f6f6f6; -webkit-text-size-adjust: 100%; -moz-text-size-adjust:100%; -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased; overflow-x: hidden; overflow-y:auto; font-size: 18px;line-height: 28px; letter-spacing: 0.5px; font-family: 'ProximaNova-Regular'; font-weight: normal; font-style: normal;}

*{-webkit-box-sizing: border-box;-moz-box-sizing:border-box; box-sizing: border-box;}

/* ========== Beginning Common Style =========== */
h2,h3,h6{float: left; font-size: 38px; line-height: 46px; color: #f6f6f6;font-family: 'ProximaNova Light';letter-spacing: 4.2px;font-weight: 300; font-style: normal; }
h3{font-size: 28px;line-height: 36px; letter-spacing: 0.7px; color: #6e6767; }
h6{font-size: 18px;line-height:24px; color:#6e6767;  }
.lead-text{float: left; width: 100%; font-size: 28px;line-height: 34px; color: #6e6767;font-family: 'ProximaNova Light'; font-weight: 300; font-style: normal; letter-spacing: 0.5px;}
.lead-text span{color: #f6f6f6; letter-spacing: 0.7px;}
dfn.title-named {float: left; clear:both;padding-left: 52px; margin-top: 22px; position: relative; font-weight: normal;font-style: normal;font-size: 16px;line-height: 35px; color: #6e6767; letter-spacing: 4px;}
dfn.title-named:before{position: absolute; left: 0; top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%); content: ''; width: 33px; height: 1px; background:#979797; z-index: 5; }
.title-text{float: left;width: 100%; text-align: center; }
.title-text h2{text-transform: uppercase}
a.deep-gray-btn,a.transparent-btn{float: left;text-align: center; width: 254px; font-size: 14px; line-height:53px; height: 53px; color: #000000; font-family: 'ProximaNova Semibold'; font-weight: 600; font-style: normal;letter-spacing: 3.5px; text-transform: uppercase; background: #d8c8c0;border: 1px solid transparent;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease}

a.transparent-btn{float: left;width: 254px; text-align: center; background: transparent; border: 1px solid #6e6767; color: #6e6767; }
a.deep-gray-btn:hover{ background: transparent; border: 1px solid #d8c8c0; color: #ffffff;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease }
a.transparent-btn:hover{background: #d8c8c0;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; color: #000000}
/* ========== // End Common Style =========== */

/* =========== Beginning Home Page Style =========== */
.main-wrap{float: left ;width: 100%; position: relative}
.common-wrap{margin: 0 auto;max-width: 1160px; padding: 0 20px; clear: both; }
header,section,footer,nav,figure{float: left; width: 100%;}
.header-wrap{position: fixed; left: 0; top: 1px; margin-top: -1px; width: 100%; z-index: 100;}
.header-wrap.fixedTop{background: #000000;padding-bottom: 24px;}
header .common-wrap{max-width: 1308px;}
.logo-wrap{float: left; max-width: 196px; padding-top: 35px;}
.main-logo{float: left;width: 100%; }
.main-logo a img,.mobi-icon img,.thumb-info img{float: left;width: 100%; }
.menu-wrap{float: right;width: 100px;margin-top: 37px; cursor: pointer}
.menu-wrap span{float: left; font-size: 16px; line-height: 20px; color: #f6f6f6; letter-spacing: 4.6px; text-transform: uppercase; }
.mobi-icon{float: left; width: 26px; margin-left: 11px; }
.hero-section{background-size: cover; background-repeat: no-repeat; background-position: center center; min-height: 558px; position: relative; padding: 183px 0 110px;}
.hero-section .common-wrap{position: relative;}
.hero-content{float: left; max-width: 886px; width: 79.10714285714286%; z-index: 5; margin-top: 6.22%; }
.top-article-wrap{float: left; width: 100%;padding-top:131px; position: relative; background: #000000;padding-bottom: 126px;}
.top-article-wrap .title-text{float: none; margin: 0 auto; max-width: 692px; clear: both}
.top-article-wrap .title-text p{float: left;width: 100%; text-align: center;color: #6e6767; margin-top: 20px; }
.top-article-wrap .title-text h2{float: none;width: 100%; text-align: center; }
.thumb-info{float: left; width: 50%; margin-top: 74px;}
.top-article-wrap .thumb-info:nth-child(2) {margin-top: 116px;}
.top-article-wrap a.deep-gray-btn{position: absolute; left: 50%; bottom: 33%;-webkit-transform: translateX(-50%); transform: translateX(-50%); z-index: 5;}
.article-wrap, .insta-gram-section{float: left; width: 100%;}
.blog-details-wrap{float: left;width: 100%; padding-top: 116px;}
.blog-details-wrap em{float: left; font-style: normal; font-size: 16px;line-height: 35px; letter-spacing: 2.7px; color: #6e6767;}
.insta-gram-section h3{float: left;width: 100%;text-align: left;clear: both;padding-left: 42px; color: #6e6767; margin-top: 14px; background-image: url(../svgs/instagram-1.svg); background-repeat: no-repeat; background-position: left center; background-size: 24px;}
.insta-gram-section p{letter-spacing: 0.5px;display: inline-block;}
.insta-gram-section a{display: inline-block; color: #f6f6f6;}
.insta-gram-section a:hover{text-decoration: underline}
span.post,cite.follower{float: left;display: inline-block; font-size: 18px;line-height: 26px; color: #6e6767;font-family: 'ProximaNova Light';font-weight: 300; font-style: normal;margin:6px 0 0 11px;}
span.post{margin-left: 42px;}
.blog-item-wrap{float: left; width: 100%; }
.blog-item-wrap a{float: left; width: 27.76785714285714%; max-width: 311px; margin: 61px 4.174107142857143% 0; position: relative}
.blog-item-wrap a img,.brand-item-wrap a img{width: 100%;}
.blog-item-wrap a:nth-child(3n+1){margin-left: 0px;}
.blog-item-wrap a:nth-child(3n+3),.blog-item-wrap a:nth-child(-3n+3){margin-right: 0px;}
.blog-item-wrap a:nth-of-type(-n+3){margin-top: 73px}
.play-icon{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 35px; z-index: 5;opacity: 0;}
.play-icon img,.thumb1 img,.thumb2 img,.social-wrap a img{width: 100%;  }
.blog-item-wrap a:hover .play-icon{opacity: 1;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease}
.content-item-inner{float: left; width: 100%; margin-top: 193px;}
.art-viewing{margin-top: 202px;}
.content-info{float: left;max-width:403px; width:36%;margin-top: 87px;padding-left: 10px; }
.content-info .title-text h2{margin-top: 14px; float: left; width: 100%; text-align: left}
.art-viewing .deal-text:nth-child(3){margin-top: 49px;}
.content-thumb{float: left; max-width: 645px; width:57.58928571428571%; margin-left:6.41071428571429% }
.deal-text{float: left; width: 100%;margin-top: 56px;}
.deal-text address{float: left; width: 100%;font-style: normal;color: #6e6767 }
.deal-text div{float: left; width: 100%;color: #6e6767}
.deal-text h6{color:#f6f6f6; letter-spacing: 0.4px;}
.thumb1,.limited-edition .thumb1,.limited-edition .thumb2{float: left; max-width: 432px; width:66.97674418604651%; position:relative; z-index: 5;}
.thumb2{float: left; max-width: 495px; width:76.74418604651163%; position: relative; z-index: 2; margin-left: 23.25581395348837%; margin-top: -91px}
.limited-edition a.transparent-btn{margin-top: 47px;color: #6e6767; }
.limited-edition .title-text p,.limited-edition .title-text h2{text-align: left;float: left;}
.limited-edition .title-text p{margin-top: 19px;color: #6e6767;}
.limited-edition .thumb2{position: relative; z-index: 6; margin-top: -143px; margin-left: 0px;}
.limited-edition .thumb1{margin-left: 33.02325581395349%; margin-top: 0px;}
.limited-edition .content-info{padding-left: 16px;margin-top: 69px;}
.brand-item-inner{ margin: 0 auto; max-width: 915px; padding-top: 132px; text-align: center; clear: both;}
.brand-item-inner span{text-align: center; font-size: 16px;line-height: 20px; color:#6e6767; letter-spacing: 2.7px;  }
.brand-item-wrap{float: left; width: 100%; margin-top: 60px; text-align: center;}
.brand-item-wrap a{text-align: center; vertical-align:middle; }
.brand-item-wrap a:first-child{max-width: 207px; width: 20.232143%; margin-top: 15px;}
.brand-item-wrap a:nth-child(2),.brand-item-wrap a:nth-child(3){width:6.892857%;max-width: 66px; margin-left: 18%}
.brand-item-wrap a:nth-child(3){width: 21.107143%;max-width: 214px; margin-left: 18%}
.deal-text address h6{margin-right: 6px;}
/* =========== // End Home Page Style =========== */

/* ===============  Beginning Footer Section ========= */
.footer-section{background: #000000; padding:135px 0 168px 0;margin-top: 170px; }
.footer-section .common-wrap{position: relative;}
.footer-left{float: left; width: 250px; }
.footer-right{float: left;width:77.67857142857143%; width:-webkit-calc(100% - 250px);width: calc(100% - 250px);padding-left: 17.41071428571429%; padding-left: 195px; }
.widget{float: left; width: 100%;}
.widget span{float: left;font-size: 16px; line-height: 20px; color: #6e6767;font-family: 'ProximaNova Bold';font-weight: bold;letter-spacing: 1px;}
.widget a{float: left; text-align: left; display: inline-block; font-size: 20px;line-height: 32px; color: #c7c3c3;letter-spacing: 0px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;clear: both}
.widget a:nth-child(2){margin-top: 25px;}
.widget a:hover,.footer-timing .deal-text div a:hover{text-decoration: underline;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease}

.copy-right-wrap{position: absolute; left: 20px; bottom: 9px;}
.social-wrap{float: left; width: 100%; margin-top: 110px;}
.social-wrap a{float: left; width: auto; }
.social-wrap a:first-child{width: 10px;}
.social-wrap a:nth-child(2){width: 24px;margin-left: 33px;}
.copyright{    float: left; width: 100%; margin-top: 28px; font-size: 14px; line-height: 20px; color: #c7c3c3; font-family: 'ProximaNova Semibold'; font-weight: 600; font-style: normal; letter-spacing: 0px;}
.footer-content-info{float: left; width: 100%;}
.footer-content-info span{float: left; font-size: 16px; line-height: 20px; color: #6e6767;font-family: 'ProximaNova Bold';font-weight: bold;letter-spacing: 1px;position: relative;width: 100%}
.footer-content-info span:after{position: absolute; right: 0; top: 9px;width: 74.81481481481481%;margin-left: 25.18518518518519%; width:-webkit-calc(100% - 170px);width: calc(100% - 170px); height: 1px; content:''; background: #524e4f; z-index: 5;}
.footer-address,.footer-timing{float: left; width:42.96296296296296%;margin-top: 25px; }
.footer-address address,.footer-timing .deal-text div{color: #c7c3c3;font-size: 17px;line-height: 28px;letter-spacing: 0.4px;font-family: 'ProximaNova Light';font-weight: 300; font-style: normal;}
.footer-timing{margin-left: 10.111111%}
.footer-timing .deal-text{margin-top: 0px;}
.footer-timing .deal-text div a{display: inline-block; color:#c7c3c3;font-family: 'ProximaNova Semibold'; font-weight: 600; font-style: normal; }
.footer-right .footer-content-info:last-child{margin-top: 74px;}
/* =================// End Footer Section ========= */

/* =======================================================================================================
============================================ Responsive style ========================================== */

/*		Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    input[type="text"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none; border-radius: 0}
    
    .logo-wrap { max-width: 140px; padding-top: 18px;}
    .menu-wrap{margin-top: 22px;}
    .header-wrap{padding-bottom: 15px;background: #000000}
    .hero-section{min-height: 424px; padding: 50px 0 30px 0;}
    .hero-content{max-width: 100%; width: 100%;position: relative; margin: 0;left: auto}
    .menu-wrap span{font-size: 14px;}
    .main-content-section{padding-top: 61px;}
    .lead-text{font-size: 20px; line-height: 30px;}
    .top-article-wrap{padding: 50px 0 30px;}
    h2{font-size: 26px;line-height: 36px;}
    .content-info .title-text h2{float: left; width: 100%; text-align: left;}
    .thumb-info,.top-article-wrap .thumb-info:nth-child(2){width: 100%;margin-top: 20px;}
    .top-article-wrap a.deep-gray-btn{position: relative;bottom: auto; margin-top: 30px;}
    .blog-details-wrap{padding-top: 50px;}
    .insta-gram-section h3{font-size: 22px; line-height: 30px;padding-left: 0px;background: none}
    span.post{margin-left: 0px;}
    .blog-item-wrap a:nth-of-type(-n+3),.blog-item-wrap a,.blog-item-wrap a:nth-child(3n+3), .blog-item-wrap a:nth-child(-3n+3),.blog-item-wrap a:nth-child(3n+1){float: none; width: 100%;margin: 0 auto; clear: both;overflow: hidden; margin-top: 20px;display: block}
    .art-viewing,.content-item-inner{margin-top:0px;}
    .content-info,.limited-edition .content-info{float: none; margin: 0 auto; overflow: hidden; clear: both; width: 100%; padding: 0; margin-top: 36px;}
    .deal-text,.art-viewing .deal-text:nth-child(3){margin-top: 30px;}
    .content-thumb{width: 100%; margin: 50px 0 0 0}
    .limited-edition .thumb2{margin-top: -90px;}
    .limited-edition a.transparent-btn{float: none}
    .brand-item-inner{padding-top: 50px;}
    .brand-item-wrap{margin-top: 0;}
    .brand-item-wrap a:first-child,.brand-item-wrap a:nth-child(2), .brand-item-wrap a:nth-child(3){width: 100%;float: none; text-align: center; margin: 0 auto; clear: both; margin-top: 30px;display: block;overflow: hidden}
    
    .footer-section{margin-top: 30px; padding: 50px 0 30px;}
    .copy-right-wrap{position: relative; left: auto; bottom: auto;}
    .social-wrap{margin-top: 30px;}
    .footer-left{width: 100%;}
    .footer-right{width: 100%;padding: 0;margin-top: 30px;}
    .footer-address, .footer-timing,.footer-right .footer-content-info:last-child{width: 100%; margin-top: 30px;}
    .footer-timing{margin-left: 0;}
    .footer-content-info span:after { width: -webkit-calc(100% - 140px); width: calc(100% - 140px);}
    .copyright{margin-top: 15px;}
    
}



/*		Wide Mobile Layout: 480px.
------------------------------------------------------------
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .hero-section{min-height: 316px}

}


/*		Tablet Layout: 768px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    input[type="text"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none; border-radius: 0}
    

    .top-article-wrap,.blog-details-wrap{padding-top: 80px;}
    .insta-gram-section h3{font-size: 26px;}
    .art-viewing{margin-top: 135px;}
    .content-info .title-text h2{font-size: 28px;}
    .content-info,.limited-edition .content-info{padding-left: 0; margin-top: 0;}
    .content-info{width: 46%; max-width: 100%;}
    .content-thumb{margin-left: 4%; width: 50%; margin-top: 70px;}
    .content-item-inner{margin-top: 80px;}
    .brand-item-inner{padding-top: 80px;}
    .footer-section{margin-top: 80px; padding: 80px 0}
    .footer-right{padding-left: 38px;}
    .footer-timing{margin-left: 4.11%;}
    .hero-content{margin: 6.2% auto 0; float: none;}
    
}


/*		Tablet Layout: 1024px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    input[type="text"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none; border-radius: 0}
    
    .footer-right{padding-left: 145px;}
    .art-viewing,.content-item-inner,.footer-section{margin-top: 150px;}
    .hero-content{margin-top: 0;}
    .hero-content{margin: 6.2% auto 0; float: none;}
    
    .content-info,.limited-edition .content-info{padding-left: 0; margin-top: 0;}
    .content-info{width: 46%; max-width: 100%;}
    .content-thumb{margin-left: 4%; width: 50%; margin-top: 70px;}
}







